.post__container {
    padding: 10px 15px;

    .my__posts {
        margin-top: 25px;
    }
}

.send__message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 450px;

    button {
        width: 90px;
        margin-top: 10px;
    }
}